<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/all.min.css">
        <title>Vue To Do List</title>
        <link rel="stylesheet" href="./master.css">
    </head>
    <body>
      <div id="root">

        <div class="container">
        <h2>To Do List.</h2>
        <ul>
          <li v-for="(todo, i) in todosComputed">
          <span class="title"
            :class="(todo.status == 'done') ? 'strike' : '' ">
            {{todo.title}}
          </span>

          <span
            v-if="todo.status != 'done'"
            class="controls check"
            @click="check(todo)">
            <i class="fas fa-check"></i>
          </span>

            <span v-if="todo.status != 'done'"
            class="controls edit">
            <i class="fas fa-pen-fancy"></i>
          </span>

            <span v-if="todo.status != 'done'"
            class="controls remove"
            @click="remove(i)">
            <i class="fas fa-trash"></i>
          </span>
          </li>
        </ul>

        <span class="ToDoList">
          <input
           v-model="inputText"
           class="write"
           type="text"
           placeholder="...scrivi qui la tua lista..."
           @keyup.enter="add">
        </span>

        </div>
      </div>

        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="./main.js"></script>
    </body>
</html>
